//UWEZO API PLANNING/MY REQUIREMENTS

/MODELS
1.user model
2.questions model

/NPM PACKAGES
express
mongoose
bcrypt
nodemon



/METHODS (POST)
register user - done
login user - done
post question- done
post answer to a question - DONE


/METHODS (GET)
get all questions - done
get a specific question based on ID - done


//METHODS (delete)
delete a question - DONE


//METHODS (PUT)


//FUNCTIONALITIES
authentication - done
register user- done
login user - done
post question - done
get all questions - done
delete a question- done
posting an answer to a question - done




REMAINING 
update an answer
